*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:Raleway,sans-serif;
  color: rgb(59, 50, 50);
}
header{
  background-color: rgb(137, 228, 231);
}
#search-keyword{
  width: 30%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 35%;
}
#btn-xhr, #btn-fetch{
  margin-left: 3%;
  margin-bottom: 3%;
}

.image{
  width: 90%;
  float: left;
}
.card-link{
  float: right;
  margin-right: 6%;
}
/*phones*/
@media (min-width: 0) and (max-width: 767px) {
.title, .card-text{
text-align: justify;
margin-top: 5%;
}
.image{
margin-left: 5%;
}
#search-keyword{
width: 80%;
margin-left: 15%;
}
}
